* {
    scroll-behavior: smooth;
}
header {
    height: 20vh;
    color: white;
    background-color: #1d3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 15%;
    border-bottom: 2px solid #e63946;
}
span {
    color: #e63946;
}
.active {
            color: #e63946;
        }
header h1:hover {
    color: #e63946;
    cursor: pointer;
}
.navlinks {
    display: flex;
    gap: 1rem;
}
.navlinks.show {
    display: flex;
}
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.hamburger:hover {
    font-size: 2rem;
}

@media  (max-width : 768px) {
    .hamburger {
        display: block;
    }
    .navlinks {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: rgb(1, 1, 89);
        color: white;
        gap: 1rem;
        padding: 5%;
    }
}
li {
    padding-right: 5%;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: 2px solid #e63946;
}
li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
li a:hover {
    color: #e63946;
}
body {
    background-color: #1d3557;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#herosection {
    height: 85vh;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e63946;
}
#herosection h1 {
    font-size: 2rem;
    width: 50%;
    letter-spacing: 2px;
    color: #f1faee;
}
 img {
    height: 50%;
    width: 50%;
}
.herobutton {
    padding: 10px 15px 10px 15px;
    color: white;
    background: #e63946;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
button a {
    color: white;
    text-decoration: none;
}
button:hover {
    background-color: #f1faee;
}
button a:hover {
    color: #e63946;
}
#About {
    justify-items: center;
    height: 100vh;
    border-bottom: 2px solid #e63946;
}
#About h1 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.25rem;
    font-size: 2.5rem;
}
.About {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
    line-height: 2rem;
    width: 25%;
    color: white;
}
#Projects {
    height: 100vh;
    border-bottom: 2px solid white;
}
#Projects h1 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.25rem;
    font-size: 2.5rem;
}
.project {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#Contact {
    justify-items: center;
    align-items: center;
    height: 100vh;
    border-bottom: 2px solid white;
}
#Contact h1 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.25rem;
    font-size: 2.5rem;
}
.Contact {
    align-content: center;
    width: 30%;
    height:80vh;
    background: #457b9d;
    border-radius: 5%;
}
form {
    display: grid;
    justify-content: center;
    gap: 0rem;
}
label {
    font-size: 1.25rem;
    color: #f1faee;
}
input {
    width: 90%;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #1d3557;
}
::placeholder {
    color: white;
}
form button {
    justify-self: center;
    padding: 5%;
    border: none;
    border-radius: 10rem ;
    width: 50%;
    background-color: #e63946;
    color: #f1faee;
}
form button:hover {
    background-color: white;
    color: #e63946;
    cursor: pointer;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding-left: 10%;
    padding-right: 10%;
}
footer li {
    border: none;
}
p {
    justify-self: center;
}
#btn {
font-size: 24px;
position: fixed;
border: none;
border-radius: 5px;
bottom: 65px;
right: 40px;
height: 40px;
width: 30px;
color: #fff;
background: #e63946;
display: none;
cursor: pointer;
transition: 0.3s ease-in-out;
}
#btn:hover {
    color: #e63946;
    background-color: #f1faee;
}